@using RetailRally.Helpers
@using RetailRally.Interfaces
@using RetailRally.ViewModels
@model ProductVm
@inject IUserProfileService UserProfileService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Продукт RetailRally</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #1f1f1f;
            color: #e0e0e0;
            margin: 0;
            padding: 0;
        }

        .link:hover {
            color: #27539c;
        }

        p {
            margin-bottom: 15px;
        }

        .link-style:hover {
            color: gray;
        }

        .product-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            gap: 2rem;
            padding: 2rem;
        }

        .product-image {
            flex: 1 1 500px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px;
        }

            .product-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

        .product-details {
            flex: 1 1 300px;
            background-color: #2a2a2a;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            border: 1px solid #444;
        }

            .product-details h2 {
                margin-top: 0;
                color: #e0e0e0;
                border-bottom: 1px solid #444;
                padding-bottom: 0.5rem;
                margin-bottom: 1rem;
            }

            .product-details h3 {
                color: #cccccc;
                margin-top: 1.5rem;
                font-size: 1.1rem;
            }

            .product-details p {
                color: #aaaaaa;
                margin-bottom: 1rem;
                font-size: 1rem;
            }

        .btn {
            display: inline-block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease, border-color 0.3s ease;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

            .btn-secondary:hover {
                background-color: #5a6268;
                border-color: #545b62;
            }

            .btn-secondary:disabled {
                background-color: #cccccc;
                border-color: #cccccc;
                cursor: not-allowed;
            }

        .comment-section {
            border-radius: 5px;
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: #2a2a2a;
        }

        .comment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #444;
            padding: 0.5rem 0;
        }

        .left-content {
            display: flex;
            align-items: center;
        }

        .trash-icon {
            cursor: pointer;
            color: #666;
        }

            .trash-icon:hover {
                color: #333;
            }

        .text-content {
            display: flex;
            flex-direction: column;
        }

        .comment:last-child {
            border-bottom: none;
        }

        .user {
            font-weight: bold;
        }

        .metadata {
            font-size: 0.875em;
            color: #aaa;
        }

        .comment-text {
            margin-top: 0.25rem;
            color: #ccc;
        }

        .placeholder-gray-400::placeholder {
            color: #aaa;
        }

        footer {
            text-align: center;
            padding: 20px 0;
            color: #a0a0a0;
        }
    </style>
</head>
<body>
    <nav class="px-4 py-2">
        <div class="flex justify-between items-center">
            <h1 class="text-xl font-bold">Продукти</h1>
            <a asp-action="AllProducts" class="text-blue-500 link">Всі продукти</a>
        </div>
    </nav>
    <main class="container mx-auto px-4 py-6">
        <div class="product-container">
            <div class="product-image">
                <img src="@Model.Product.PictureUrl" alt="Product Image">
            </div>
            <div class="product-details">
                <h2>@Model.Product.Name</h2>
                <h3>Категорія:</h3>
                <p>@Model.Product.Category.Name</p>
                <h3>Опис:</h3>
                <p>@Model.Product.Description</p>
                <h3>Виробник:</h3>
                <p>@Model.User.UserName</p>
                @if (Model.Product.UserId != User.GetUserId())
                {
                    <a class="btn btn-primary" asp-controller="Chat" asp-action="Room" asp-route-userId="@Model.User.Id">Написати виробнику</a>
                }
                <h3>Ціна</h3>
                <p>$ @Model.Product.Price</p>
                <h3>Кількість</h3>
                <p>@Model.Product.Quantity</p>
                @if (Model.Product.UserId != User.GetUserId())
                {
                    <a asp-action="GoToBuyPage" asp-route-selectedItems="@Model.Product.Id" class="btn btn-primary">Купити зараз</a>
                }
            </div>
        </div>
    </main>
    <section class="container mx-auto px-4 py-6">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Comment" asp-action="AddComment" method="post">
                <div class="flex items-center space-x-4 py-2">
                    <img src="@await UserProfileService.GetUserPictureAsync(User.GetUserId())" alt="Зображення профілю користувача" class="rounded-full" style="width:40px;height:40px">
                    <input id="commentInput" asp-for="NewComment.Content" type="text" placeholder="Додати публічний коментар..." class="bg-transparent border-none placeholder-gray-400 flex-1 text-sm focus:outline-none" style="color:white" onkeyup="checkCommentLength()" />
                    <button style="width:15%" id="commentButton" class="btn btn-secondary" disabled>Прокоментувати</button>
                </div>
                <input asp-for="NewComment.ProductId" type="hidden" value="@Model.Product.Id" />
                <input asp-for="NewComment.UserId" type="hidden" value="@User.GetUserId()" />
                <input asp-for="Product.Id" type="hidden" />
            </form>
        }
        <div class="comment-section">
            @foreach (var comment in Model.Comments)
            {
                <div class="comment">
                    <div class="left-content flex items-center">
                        <img src="@comment.User.PictureUrl" alt="User profile picture" class="rounded-full" style="width:40px;height:40px; margin-right:10px">
                        <div class="text-content">
                            <span class="user">@comment.User.UserName</span>
                            <span class="metadata">@comment.CreatedDate.ToString("dd-MM-yyyy")</span>
                            <p class="comment-text">@comment.Content</p>
                        </div>
                    </div>
                    @if (User.GetUserId() == comment.UserId)
                    {
                        <form asp-controller="Comment" asp-action="DeleteComment">
                            <input name="productId" value="@Model.Product.Id" type="hidden" />
                            <input name="commentId" value="@comment.Id" type="hidden" />
                            <div class="trash-icon">
                                <button>
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </form>
                    }
                </div>
            }
        </div>
    </section>
    <footer class="container">
        <small><a class="link-style" asp-controller="Home" asp-action="GoToTermsAndConditionsPage">Умови та положення</a> • <a class="link-style" asp-controller="Home" asp-action="Privacy">Політика конфіденційності</a></small>
    </footer>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function checkCommentLength() {
        var input = document.getElementById('commentInput');
        var button = document.getElementById('commentButton');
        button.disabled = input.value.length < 3;
        if (button.disabled) {
            button.classList.add('btn-disabled');
        } else {
            button.classList.remove('btn-disabled');
        }
    }
</script>
