@model List<Product>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Мої товари</title>
    <style>
        :root {
            --theme: light;
            --background-color-light: #f5f7fa;
            --background-color-dark: #1f1f1f;
            --color-light: #1a1a1a;
            --color-dark: #e0e0e0;
            --link-color-light: #ff7f50;
            --link-color-dark: lawngreen;
            --link-hover-color-light: #e75432;
            --link-hover-color-dark: green;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: var(--background-color-dark);
            color: var(--color-dark);
        }

            body[data-theme='light'] {
                background-color: var(--background-color-light);
                color: var(--color-light);
            }

        .link-style {
            color: var(--link-color-dark);
            text-decoration: none;
            border-bottom: 1px solid var(--link-color-dark);
        }

        body[data-theme='light'] .link-style {
            color: var(--link-color-light);
            border-bottom: 1px solid var(--link-color-light);
        }

        .link-style:hover {
            color: var(--link-hover-color-dark);
            border-color: var(--link-hover-color-dark);
        }

        body[data-theme='light'] .link-style:hover {
            color: var(--link-hover-color-light);
            border-color: var(--link-hover-color-light);
        }

        .new-link-style:hover {
            color: gray;
        }

        .my-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .clickable-card {
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border: none;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            .clickable-card:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            }

        .no-outline:hover {
            transform: none;
            box-shadow: none;
        }

        .btn-add-to-cart {
            margin-right: 10px;
        }

        .card-img-container {
            width: 100%;
            height: 250px;
            overflow: hidden;
        }

        .d-flex {
            display: flex;
        }

        .flex-column {
            flex-direction: column;
        }

        .flex-md-row {
            flex-direction: row;
        }

        .categories {
            background-color: #2E2E2E;
            padding: 20px;
            margin-right: 20px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
            height: auto;
            min-height: 100%;
            border-radius: 8px;
        }

        body[data-theme='light'] .categories {
            background-color: #f5f7fa;
            box-shadow: 0px 0px 5px 0px rgba(200,200,200,0.5);
        }

        .products-flex-grow-1 {
            flex-grow: 1;
        }

        .categories ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;
        }

            .categories ul li a {
                color: var(--color-dark);
                text-decoration: none;
            }

        body[data-theme='light'] .categories ul li a {
            color: var(--color-light);
        }

        .categories ul li a:hover {
            color: #00ff00;
        }

        .card {
            background-color: #333;
            border: none;
            color: var(--color-dark);
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            padding-bottom: 20px;
        }

        body[data-theme='light'] .card {
            background-color: var(--background-color-light);
            color: var(--color-light);
        }

        .card-title {
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        .card-text {
            margin-bottom: 1em;
        }

        .card-description {
            font-size: 0.9em;
            color: #a0a0a0;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .price {
            font-size: 1.5em;
            font-weight: bold;
            color: #21B10D;
        }

        .old-price {
            font-size: 1.2em;
            color: #ff0000;
            text-decoration: line-through;
            margin-right: 10px;
        }

        .quantity {
            font-size: 1em;
            color: #a0a0a0;
        }

        .comment-count {
            font-size: 0.9em;
            color: #8E8B8B;
        }

        .card-body {
            padding: 10px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        .discount-badge {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #ff0000;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 0.9em;
            font-weight: bold;
        }

        .wishlist-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #ff9800;
            font-size: 1.5em;
            cursor: pointer;
        }

        nav.container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            background-color: #222;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }

        body[data-theme='light'] nav.container-fluid {
            background-color: var(--background-color-light);
            box-shadow: 0 4px 8px rgba(200, 200, 200, 0.2);
        }

        nav.container-fluid ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 1rem;
        }

            nav.container-fluid ul li a {
                text-decoration: none;
                color: var(--color-dark);
                padding: 0.5rem 1rem;
                transition: background-color 0.3s, color 0.3s;
            }

        body[data-theme='light'] nav.container-fluid ul li a {
            color: var(--color-light);
        }

        nav.container-fluid ul li a:hover,
        nav.container-fluid ul li a:focus {
            background-color: #007bff;
            color: white;
            border-radius: 0.25rem;
        }

        footer {
            text-align: center;
            padding: 20px 0;
            color: #a0a0a0;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var cards = document.querySelectorAll('.clickable-card');

            cards.forEach(function (card) {
                card.addEventListener('click', function () {
                    window.location.href = this.getAttribute('data-url');
                });

                var editButton = card.querySelector('.btn-primary');
                var deleteButton = card.querySelector('.btn-danger')

                deleteButton.addEventListener('mouseenter', function () {
                    card.classList.add('no-outline');
                });

                deleteButton.addEventListener('mouseleave', function () {
                    card.classList.remove('no-outline');
                });

                editButton.addEventListener('mouseenter', function () {
                    card.classList.add('no-outline');
                });

                editButton.addEventListener('mouseleave', function () {
                    card.classList.remove('no-outline');
                });
            });
        });

    </script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Мої товари</strong></li>
        </ul>
        <ul>
            <li><a class="link-style" href="#">Головна</a></li>
            <li><a class="link-style" href="#">Про нас</a></li>
            <li><a class="link-style" href="#" role="button">Контакти</a></li>
        </ul>
    </nav>
    <main>
        <div class="container mt-4">
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 clickable-card" data-url="@Url.Action("GoToDetailsPage", new { productId = product.Id })">
                            <div class="card-img-container">
                                <img class="card-img-top my-image" src="@product.PictureUrl" alt="Product Image">
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-description">@product.Description</p>
                                <h5 class="card-title">@product.Category.Name</h5>
                                <p class="card-text quantity">В наявності: @product.Quantity</p>
                                <p class="card-text">
                                    <span class="price">₴@product.Price?.ToString("0.00")</span>
                                </p>
                                <div class="mt-auto d-flex justify-content-between">
                                    <a asp-route-productId="@product.Id" asp-action="GoToProductEditPage" class="btn btn-primary btn-sm">Редагувати</a>
                                    <form asp-action="DeleteProduct" method="post">
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        <button class="btn btn-danger btn-sm btn-add-to-cart">
                                            Видалити
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>
    <footer class="container">
        <small><a class="new-link-style" asp-controller="Home" asp-action="TermsAndConditions">Умови та положення</a> • <a class="new-link-style" asp-controller="Home" asp-action="Privacy">Політика конфіденційності</a></small>
    </footer>
</body>
</html>
